<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as to_buy">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in to_buy.items">
         Buy {{ item.quantity }} {{ item.name }}
         <button ng-click="to_buy.buyItem($index)">Bought</button>
       </li>
     </ul>
     <div ng-if="!to_buy.items.length" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in bought.items">
         Bought {{ item.quantity }} {{ item.name }}
       </li>
     </ul>
     <div ng-if="!bought.items.length" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
